<style>
    h1 {
    font-family: 'Segoe UI Semibold';
    font-size: 40px;
    text-align: center;
  }
</style>

# Proyecto 3: Saber 11

<style>
  .image {
            overflow: hidden;
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
  .container {
            width: 100%;
            height: 300px;
        }

</style>

<div class="container">
    <img src="../img/image.png" class="image"/>
</div>

<style>
  p {
    font-family: 'Segoe UI Light';
    font-size: 20px;
    text-align: center;
  }
</style>

<div style="text-align: center;">
  Analítica Computacional para la Toma de Decisiones IIND-4130 <br>
  Universidad de los Andes &copy; 2024 <br>
  19 de noviembre de 2024 <br><br>
  <strong>GRUPO 7:</strong> <br>
  Laura Calderón - 202122045 <br>
  Camilo Duque - 202024289<br>
  Daniela Espinosa - 202022615<br>
</div>

## **Tarea 2**
Limpieza de Datos

In [2]:
import pandas as pd

dta = pd.read_csv('../data/Resultados__nicos_Saber_11_20241120.csv')
dta.head()

C:\Users\LEGION\AppData\Local\Temp\ipykernel_22992\3714745130.py:3: DtypeWarning: Columns (45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  dta = pd.read_csv('../data/Resultados__nicos_Saber_11_20241120.csv')

,PERIODO,ESTU_TIPODOCUMENTO,ESTU_CONSECUTIVO,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,...,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,DESEMP_INGLES,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,20131,CR,SB11201310000414,URBANO,N,B,ACADÉMICO,3.118480e+11,3.118480e+11,11.0,...,Si,Si,Si,B+,94.0,88.0,NaN,NaN,NaN,NaN
1,20194,TI,SB11201940464873,RURAL,N,A,TÉCNICO/ACADÉMICO,1.410160e+11,2.410160e+11,41.0,...,Si,Si,Si,B1,71.0,66.0,70.0,65.0,69.0,339.0
2,20194,TI,SB11201940464873,RURAL,N,A,TÉCNICO/ACADÉMICO,1.410160e+11,2.410160e+11,41.0,...,Si,Si,Si,B1,71.0,66.0,70.0,65.0,69.0,339.0
3,20122,TI,SB11201220204399,URBANO,N,A,TÉCNICO/ACADÉMICO,1.631300e+11,1.631300e+11,63.0,...,Si,Si,No,A1,48.0,45.0,NaN,NaN,NaN,NaN
4,20132,TI,SB11201320464198,URBANO,N,A,TÉCNICO,1.190010e+11,1.190010e+11,19.0,...,Si,Si,Si,A-,43.0,52.0,NaN,NaN,NaN,NaN